<!--
NOTES:
MAIN Order Webpage (/create-order)
-- This page will show all items from chosen restaurant. Data gathered from MongoDB.
-- User-Customer can add items to cart to order.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Page</title>
    <div class="container-center">
        <div class="logo">
            <img src="/image/restaurant_logos/{{restaurant.alias}}_logo.jpg" alt="Restaurant Logo">
        </div>
    </div>
</head>

<body>
    {{>navbar}}
    <section class="container-fluid" style="padding-top: 80px;">

        <div class="container">
            <div class="row my-2">
                {{#each items}}
                    <div class="col-md-4 my-5">
                        <div class="card ">
                            <img style="height:210px" src="/image/restaurant_photos/{{../restaurant.alias}}/{{this.alias}}.jpg" class="img-fluid mb-2" alt="">
                            <h4>{{this.name}}</h4>
                            <h2 class="primary-color mb-3">
                                <i class="fa fa-usd"></i>{{this.price}}</del></h2>
                            <div>
                                <button onclick="addFoodToBasket('{{this._id}}','{{this.name}}','{{this.price}}','/restaurant_photos/{{../restaurant.alias}}/{{this.alias}}.jpg' )" class="main-btn">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        resetCart();
    });

    document.getElementById("orderNowButton").addEventListener("click", function() {
        handleOrderNowButtonClick('{{user.id}}', '{{restaurant._id}}');
    });
</script>

</body>

</html>